@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@using PRN_Project.Models

<form asp-action="Add" asp-controller="Home" method="post">
    <select name="type">
        <option>Checkbox</option>
        <option>Radio button</option>
    </select>
    
</form>